/**************************************TAG SELECTORS ****************/
body {
  background-color: #EAF6F6;
}

hr {
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;

}

h1 {
  color: #66BFBF;
}

h3 {
  color: #F6C6EA;
}

p {
  color: orange;
}

img {
  border-radius: 100%;
}
/********************************CLASS SELECTORS***************************/
/* .p1 {
  color: orange;
}

.p2 {
  color: yellowgreen;
} */
/******************************ID SELECTORS*****************************/

/* #Myname {
  color: blue;
} */
